body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  background-color: #F66000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
